

.page-header {
  max-height: 100vh;
  min-height: 20vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(6px + 1vmin);
  color: white;
}

.audioContainer {
  display: block;
  height: 100%;
  width: 100%;
  background-color: #282c34;

}

.uploadText {
  font-size: 1.5em;

}

.App-link {
  color: #61dafb;
}

h1{
  font-size: xx-large;
}

.audioCanvas {
  display: block;
  margin: 0 auto;
  height: auto;
  width: auto;
  background-color: white ;
}


